.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.book-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 9;
	text-align: center;
	background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
		linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
		linear-gradient(315deg, black 25%, transparent 25%),
		linear-gradient(45deg, black 25%, transparent 25%);
	background-size: 2em 2em;
	background-color: #232323;
	color: white;
	transition: transform 2s;
  h1 {
    font-family: "Petemoss", cursive;
    font-size: 32px;
    font-weight: 300;
    color: #dbd75d;
  }
  
  h2 {
    font-size: 16px;
  }
  
  .separator {
    --separator-size: 8px;
    width: var(--separator-size);
    height: var(--separator-size);
    background-color: #dbd75d;
    margin: 50px auto 60px auto;
    border-radius: 50%;
    position: relative;
  }
  
  .separator::after,
  .separator::before {
    content: "";
    position: absolute;
    width: 12px;
    background-color: white;
    height: 2px;
    top: calc(50% - 1px);
  }
  
  .separator::after {
    left: 15px;
  }
  
  .separator::before {
    right: 15px;
  }
}
.book-cover::before {
	content: "";
	position: absolute;
	width: 20px;
	right: 20px;
	top: 0;
	bottom: 0;
	background-color: #b11509;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
